div {
    background-color: aliceblue;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px auto;
    border-radius: 5px;
}

.container {
    border: 3px solid dodgerblue;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-color: white;
    padding: 0;
}

pre {
    margin: 10px 5px 20px;
    border: none;
    overflow-x: auto;
    background-color: white;
}

code {
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-size: large;
}

img {
    max-width:100%;
    height: auto;
    margin: auto;
}

p {
    margin: 10px 5px 20px;
}

ul {
    list-style-type: square;
    margin: 10px auto 20px;
}

#headlist {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
    overflow: hidden;
    background-color: aliceblue;
    color: navy;
    border-bottom: 6px double dodgerblue;
}

#headlist li {
    float: left;
    padding: 0;
}

#headlist a {
    color: navy;
    padding: 8px 10px 9px;
    margin: auto;
    text-decoration: none;
    font-size: x-large;
}

#headlist #logo {
    margin: 5px;
}

#headlist #logo #a-title {
    padding: 0px;
    margin: 0px;
    max-width: 300px;
}

#headlist #logo #a-title img {
    display: block;
    max-width: 100%;
    margin: 0px;
    height: auto;
    object-fit: scale-down;
}

#headlist a:hover {
    background-color: dodgerblue;
}

#headlist li.dropdown {
    display: inline-block;
    padding: 0px;
    margin: auto;
    max-width: 100px;
}

#headlist li.dropdown a.dropbtn {
    background-color: aliceblue;
    margin: 5px 0px;
    padding: 0px;
    border: none;
    cursor: pointer;
    max-width: 25px;
    max-height: 25px;
}

#headlist li.dropdown a.dropbtn img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    object-fit: scale-down;
}

#headlist li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin: 0px;
    right: 0;
    border: 3px solid dodgerblue;
    border-radius: 0px 0px 5px 5px;
    padding: 5px auto 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
    color: navy;
    padding: 8px 10px;
    text-decoration: none;
    border-top: 3px double dodgerblue;
    border-right: none;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

#headlist li.dropdown:hover .dropdown-content, .dropdown-content a {
    display: block;
}

#headlist a:active, .dropdown-content a:active {
    background-color:navy;
    color: aliceblue;
}

@media only screen and (max-width: 472px) { /* Smaller logo and menu icon */
    html {
        font-size: medium;
    }

    #headlist a { /* Hide navbar buttons in favour of dropdown menu */
        display: none;
    }

    #headlist li.dropdown .dropdown-content a {
        display: block;
    }

    #headlist #logo #a-title {
        display: block;
        border: none;
        max-width: 220px;
    }

    #headlist li.dropdown a.dropbtn {
        display: block;
    }    
}

@media only screen and (min-width: 472px) { /* Full size logo, dropdown navigation */
    html {
        font-size: medium;
    }

    #headlist a { /* Hide navbar buttons in favour of navigation menu */
        display: none;
    }

    #headlist li.dropdown .dropdown-content a {
        display: block;
    }

    #headlist #logo #a-title {
        display: block;
        border: none;
        max-width: 100%;
    }

    #headlist #logo #a-title img {
        max-width: 100%;
    }

    #headlist li.dropdown a.dropbtn {
        display: block;
        max-width: 30px;
        max-height: 30px;
    }
}

@media only screen and (min-width: 1000px) { /* Wide screens - use full size navbar */
    html {
        font-size: large;
    }

    #headlist a { /* Can now fit all items on navbar */
        display: block;
        font-size: large;
    }

    #headlist #logo {
        border-right: 3px double dodgerblue;
    }

    #headlist li.dropdown { /* No longer require dropdown menu */
        display: none;
    }

    #headlist li a.dropbtn {
        display: none;
    }
    
    #headlist a {
        border-right: 3px double dodgerblue;
    }
}

h1, h2, h3 {
    font-family: "Bahnschrift Semilight", Tahoma, Verdana, sans-serif;
}

h1 {
    color:navy;
    text-align: center;
    font-size: xx-large;
    margin: 15px auto 30px;
    border-bottom: 6px double navy;
    padding: 5px;
}

h2 {
    color:mediumblue;
    text-align: left;
    font-size: larger;
    border-bottom: 3px solid navy;
    margin: 15px auto 20px;
    padding: 5px;
}

h3 {
    color:dodgerblue;
    text-align: left;
    font-size: large;
    margin: 10px 5px 10px;
}

a {
   color:dodgerblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: navy;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: goldenrod;
}
