div {
    background-color: aliceblue;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px auto;
    border-radius: 5px;
}

.container {
    border: 3px solid dodgerblue;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-color: white;
    padding: 0;
}

pre {
    margin: 10px 5px 20px;
    border: none;
    overflow-x: auto;
    background-color: white;
}

code {
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-size: large;
}

img {
    max-width:100%;
    height: auto;
    margin: auto;
}

p {
    margin: 10px 5px 20px;
}

ul {
    list-style-type: square;
    margin: 10px auto 20px;
}

#headlist {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
    overflow: hidden;
    background-color: aliceblue;
    color: navy;
    border-bottom: 6px double dodgerblue;
}

#headlist li {
    float: left;
    padding: 0;
}

#headlist a {
    color: navy;
    padding: 8px 10px 9px;
    text-decoration: none;
    font-size: x-large;
}

#headlist #logo {
    margin: auto;
}

#headlist #logo #a-title {
    padding: 5px 10px;
}

#headlist #logo #a-title img {
    max-width: 100%;
    height: auto;
}

#headlist a:hover {
    background-color: dodgerblue;
}

#headlist li.dropdown {
    display: inline-block;
}

#headlist li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin: 0px;
    right: 0;
    border: 3px solid dodgerblue;
    border-radius: 0px 0px 5px 5px;
    padding: 5px auto 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
}

#headlist li a.dropbtn {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 8px 10px 9px;
    margin: 0;
    font-size: x-large;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.dropdown-content a {
    display: block;
    color: navy;
    padding: 8px 10px;
    text-decoration: none;
    border-top: 3px double dodgerblue;
    border-right: none;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

#headlist li.dropdown:hover .dropdown-content, .dropdown-content a {
    display: block;
}

#headlist a:active, #headlist li.dropdown:hover .dropbtn, .dropdown-content a:active {
    background-color:navy;
    color: aliceblue;
}

#headlist #smallmenu .dropdown-content {
    display: none;
}

#headlist #smallmenu .dropdown-content a {
    display: block;
}

@media only screen and (max-width: 472px) { /* Use small icon for menu button */
    html {
        font-size: medium;
    }

    #headlist a { /* Hide navbar buttons in favour of dropdown menu */
        display: none;
    }

    #headlist #logo {
        margin: auto;
        padding: auto;
        float: none;
    }

    #headlist #logo #a-title {
        display: block;
        border: none;
    }

    #headlist #logo #a-title img {
        max-width: 80%;
        height: auto;
    }

    #headlist li a.dropbtn {
        display: none;
    }

    #headlist #smallmenu {
        display: block;
    }

    #headlist #smallmenu a.dropbtn {
        display: block;
    }

    #headlist #smallmenu .dropbtn:hover .dropdown-content, .dropdown-content a{
        display: block;
    }
}

@media only screen and (min-width: 472px) { /* Phones and small devices - use mid-size navigation menu, keep AccelerateAI logo*/
    html {
        font-size: medium;
    }

    #headlist a { /* Hide navbar buttons in favour of navigation menu */
        display: none;
    }

    #headlist li.dropdown .dropdown-content a {
        display: block;
    }

    #headlist #a-title {
        display: block;
    }

    #headlist li a.dropbtn {
        display: block;
    }
    /* No need for small menu dropdown */
    #headlist #smallmenu .dropdown-content {
        display: none;
    }

    #headlist #smallmenu .dropdown-content a {
        display: none;
    }
}

@media only screen and (min-width: 1500px) { /* Laptops and landscape - use full navbar*/
    html {
        font-size: large;
    }

    #headlist a { /* Can now fit all items on navbar */
        display: block;
    }

    #headlist li.dropdown {
        display: none;
    }

    #headlist li a.dropbtn {
        display: none;
    }
    
    #headlist a {
        border-right: 3px double dodgerblue;
    }
}

h1, h2, h3 {
    font-family: "Bahnschrift Semilight", Tahoma, Verdana, sans-serif;
}

h1 {
    color:navy;
    text-align: center;
    font-size: xx-large;
    margin: 15px auto 30px;
    border-bottom: 6px double navy;
    padding: 5px;
}

h2 {
    color:mediumblue;
    text-align: left;
    font-size: larger;
    border-bottom: 3px solid navy;
    margin: 15px auto 20px;
    padding: 5px;
}

h3 {
    color:dodgerblue;
    text-align: left;
    font-size: large;
    margin: 10px 5px 10px;
}

a {
   color:dodgerblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: navy;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: goldenrod;
}
