div {
    background-color:aliceblue;
    margin: auto;
}

span {
    background-color:blue;
    margin: auto;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-color: dodgerblue;
    font-size: large;
    padding: 0;
}

pre {
    margin: auto 25px;
}

code {
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-size: large;
}

p {
    margin: auto 25px;
}

ul {
    list-style-type: square;
    margin: auto 15px;
}

#headlist {
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    color: navy;
}

#headlist li {
    float: left;
}

#headlist a {
    display: block;
    color: navy;
    padding: auto 10px;
    text-decoration: none;
    border-right: 3px double dodgerblue;
}

#headlist a:hover {
    background-color: dodgerblue;
}

#headlist a:active {
    background-color:navy;
    color: aliceblue;
    font-style: italic;
}

#headlist .active {
    background-color:navy;
    color: aliceblue;
    font-style: italic;
}

h1, h2, h3 {
    font-family: "Bahnschrift Semilight", Tahoma, Verdana, sans-serif;
}

h1 {
    color:navy;
    text-align: center;
    font-size: xx-large;
    margin: 10px 25px 50px;
    border-bottom: 6px double navy;
}

h2 {
    color:mediumblue;
    text-align: left;
    font-size: larger;
    border-bottom: 3px solid navy;
    margin: 15px 25px;
}

h3 {
    color:dodgerblue;
    text-align: left;
    font-size: large;
    margin: 10px 25px;
}

a {
   color:dodgerblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: navy;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: goldenrod;
}