h1, h2, h3 {
    font-family: "Bahnschrift Semilight", Tahoma, Verdana, sans-serif;
}

h1 {
    color:navy;
    text-align: left;
    font-size: x-large;
    margin: 0px 25px 50px;
}

h2 {
    color:mediumblue;
    text-align: left;
    font-size: larger;
    border-bottom: 3px solid navy;
    margin: 15px 25px;
}

h3 {
    color:dodgerblue;
    text-align: left;
    font-size: large;
    margin: 10px 25px;
}

body {
    color: black;
    background-color:lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: medium;
    margin: auto 25px;
    padding: 3px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightblue;
    margin: auto 25px;
    padding: 3px;
}

code {
    color: black;
    background-color: lightblue;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-size: large;
    margin: auto 25px;
    padding 3px;
}

ul {
    list-style-type: square;
}

a {
   color:dodgerblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: navy;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: goldenrod;
}