<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/accelai_style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/images/favicon.png' | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body>

    <div class="container">
      <ul id="headlist"> 
        <li id="logo"><a id="a-title" href="{{ '/' | relative_url }}">
            <img src="{{ '/images/aai-logo.svg' | relative_url }}" alt="AccelerateAI">
          </a>
        </li>
        <li><a href="{{'/sections/access' | relative_url }}">Access</a></li>
        <li><a href="{{'/sections/connecting' | relative_url }}">Connect</a></li>
        <li><a href="{{'/sections/installing' | relative_url }}">Installing software</a></li>
        <li><a href="{{'/sections/understanding' | relative_url }}">Architecture</a></li>
        <li><a href="{{'/sections/running' | relative_url }}">Interactive jobs</a></li>
        <li><a href="{{'/sections/submitting' | relative_url }}">Submitting jobs</a></li>
        <li class="dropdown" style="float:right;">
            <input type="checkbox" id="toggle" class="input-toggler"> 
            <label for="toggle" class="menu-toggler">
          <!-- <a href="javascript:void(0)" class="dropbtn"> --> <span class="dropbtn">
            <img src="{{ '/images/menuicon.png' | relative_url }}" alt="Nav"> </span>
          <!-- </a> -->
          </label>
          <div class="dropdown-content">
            <a href="{{'/sections/access' | relative_url }}">Access</a>
            <a href="{{'/sections/connecting' | relative_url }}">Connect</a>
            <a href="{{'/sections/installing' | relative_url }}">Software</a>
            <a href="{{'/sections/understanding' | relative_url }}">Architecture</a>
            <a href="{{'/sections/running' | relative_url }}">Interactive</a>
            <a href="{{'/sections/submitting' | relative_url }}">Submit jobs</a>
          </div>
        </li>
      </ul>    
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
